<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Especifique el número de dispositivos que utilizan electricidad:</h2>
    <ul class="list" id="list">
      <!-- Asignación #3 -->
      <li class="list__item">
        <a href={{lights + "/4" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>3-5 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href={{lights + "/7" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>6-8 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href={{lights + "/10" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>10+ aparatos</span></a>
      </li>
    </li>
    <li class="list__item">
      <a href={{lights + "/1" }}>
        <img class="item__img" src="../static/img/Captura de pantalla (4).png" alt="battery">
        <span>Construcción ecológica</span></a>
    </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title main__title--margin">La eficiencia energética de tu casa:</h2>
    <div class="main__rez" id="end">
        {%if result <= 150%}
        <img class="rez__img" src="../../static/img/planet_good.svg" alt="">
        <span>Su resultado {{result}} kWh</span>
        <span>¡Tu hogar es notablemente eficiente en cuanto a consumo de energía!</span>
        {%elif result >= 151 and result < 300%}
        <img class="rez__img" src="../../static/img/planet_medium.svg" alt="">
        <span>Su resultado {{result}} kWh</span>
        <span>La eficiencia energética de tu hogar es media</span>
        <span>¿Quieres hacer del mundo un lugar más ecológico? ¡Rellena el formulario y haremos una eco-construcción para ti!</span>
        <a href="{{ url_for('form') }}" class="main_link">Rellena el formulario</a>

        {%elif result >= 300%}
        <img class="rez__img" src="../../static/img/planet_bad.svg" alt="">
        <span>Su resultado {{result}} kWh</span>
        <span>¡La eficiencia energética de tu hogar está por debajo de la media!</span>
        <span>¿Quieres hacer del mundo un lugar más ecológico? ¡Rellena el formulario y haremos una eco-construcción para ti!</span>
        <a href="{{ url_for('form') }}" class="main_link">Rellena el formulario</a>
        
        {%endif%}
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
<!-- Crear una página que emita los datos del usuario -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     {% block content %}
    <h1>Gracias por rellenar el formulario</h1>
    <p>Nombre: {{ name }}</p>
    <p>Tu Email: {{ email }}</p>
    <p>Tu direccion: {{ address }}</p>
    <p> Tu fecha: {{date}}</p>
     {% endblock %}

     
</body>
</html>
          <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    {% block content %}
    <form action="{{ url_for('submit_form') }}" method="post" class="form">
      <div class="user">
        <ul class="user-info">
            <li class="user-info__item">

                <label for="name">Su nombre</label>
                <input type="text" name="name" id="name" placeholder="Introduzca su nombre completo" required>
            </li>
            <li class="user-info__item">
                <!-- Tarea 4. Crear un campo de entrada para el correo electrónico del usuario -->
                <label for="email">Su email</label>
                <input type="text" name="email" id="email" placeholder="Introduzca su email" required>
            
            </li>
        </ul>
        <!--Campos para la dirección y el nombre-->
        <ul class="address-date">
            <li class="user-info__item">

                <label for="address">Especifique su dirección</label>
                <input type="text" name="address" id="address" placeholder="Su dirección" required>
            </li>
            <li class="user-info__item">

                <label for="date">Especifique la fecha en la que desea que lleguen nuestros especialistas</label>
                <input type="date" name="date" id="date" required>
            </li>
        </ul>
    </div>
    <button class="button" type="submit">Listo</button>
    </form>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Selecciona el tamaño de tu hogar:</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/1">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Un hogar pequeño</span></a>
      </li>
      <!-- Asignación #1 -->
      <li class="list__item">
        <a href="/2">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Un hogar mediano</span></a>
      </li>
      <li class="list__item">
        <a href="/3">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Un hogar grande</span></a>
      <!--  -->
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía.</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Seleccione cuántas lámparas hay en su hogar:</h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{size + "/3" }}>
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>2-4 lámparas</span></a>
      </li>
      <!--Tarea #2 -->
      <li class="list__item">
        <a href={{size + "/7" }}> 
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>4-6 lámparas</span></a>
      </li>
      <li class="list__item">
        <a href={{size + "/10" }}>
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>8+ lámparas</span></a>
      </li>
      <li class="list__item">
        <a href={{size + "/1" }}>
          <img class="item__img" src="../static/img/Captura de pantalla (5).png" alt="light">
          <span>Construcción ecológica</span></a>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>

