body{
    font-family: cursive;
    background-image: url(imgs/ko.png);
    background-size: cover;
    font-family: inherit;
}
h1{
    font-family: serif;
    color: blue;
}
h2{
    font-family: serif;
    color: #ff008c;
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}
